<div class="grid-container">
    <table>
        <tbody>
            {{#each rows}}
            <tr>
                {{#each this}}
                <td 
                    data-row="{{@../index}}" 
                    data-col="{{@index}}" 
                    class="grid-cell" 
                    style="background-color: rgb(0, {{this}}, 0);">
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>